%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .form-group
    = f.label :nickname
    %br/
    = f.text_field :nickname, validate: true, autofocus: true, autocomplete: "nickname", class: "form-control"
  .form-group
    = f.label :phone
    %br/
    = f.text_field(:phone, data: { mask: '(999) 999-9999' }, class: "form-control")
  .form-group
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", class: "form-control"
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
  .actions
    = f.submit "Sign up", class: "btn btn-light"
= render "devise/shared/links"
