- if @history.exists?
  %table
    %thead
      %tr
        %th Book
        %th Taken
        %th Returned
        %th User
        %th email

    %tbody
      - @history.each do |history|
        %tr
          %td= link_to history.book.title, book_path(history.book)
          %td= history.taken
          %td= history.returned
          %td= history.user.nickname
          %td= link_to history.user.email, user_path(history.user)