%table
  %thead
    %tr
      %th Cover
      %th.tdnvis Title
      %th.tdnvis Author
      %th N/A

  %tbody
    - books.each do |book|
      %tr
        %td
          = link_to book_path(book) do
            = image_tag book.image_url(:small), class: 'index-img-section'
        %td.tdnvis= link_to book.title, book
        %td.tdnvis= book.author
        %td= book.status ? image_tag('no50x50em.png') : image_tag('yes50x50em.png')
