
.row
  .col
    %h1 Books
    %h4 Top rated books

.row
  .col
    .slider
      - @top_books.each_with_index do |book, i|
        %div{:class=>"slide", :id=>"slide#{i}"}
          = link_to book_path(book) do
            = image_tag book.image_url(:small), class: "index-img-section"
            .index-book-desc
              .index-b-description
                = book.description
    %hr

.row
  .col
    = form_tag books_path, method: 'get' do
      = text_field_tag :search, params[:search], class:'form-control'
      = submit_tag 'Search', title: nil, class:'btn btn-light'
      = link_to 'Cancel', books_path, class:'btn btn-light'

    - if @search_books != nil
      %h1 Search results
      %table
        %thead
          %tr
            %th Cover
            %th Title
            %th Author
            %th N/A
        - @search_books.each do |book|
          %tr
            %td
              = link_to book_path(book) do
                = image_tag book.image_url(:small), class: "index-img-section"
            %td= link_to book.title, book
            %td= book.author
            %td= book.status ? image_tag('no50x50em.png') : image_tag('yes50x50em.png')


- if user_signed_in? && current_user.admin?
  .row
    .col
      = link_to 'New Book', new_book_path

.row
  .col
    %h4 All books
    #all_books
      %table
        %thead
          %tr
            %th Cover
            %th Title
            %th Author
            %th N/A

        %tbody
          - @books.each do |book|
            %tr
              %td
                = link_to book_path(book) do
                  = image_tag book.image_url(:small), class: "index-img-section"
              %td= link_to book.title, book
              %td= book.author
              %td= book.status ? image_tag('no50x50em.png') : image_tag('yes50x50em.png')
              
      = paginate @books
