.row
  .col-12
    #book-title-section
      = @book.title
    #book-author-section
      = @book.author
.row
  .col-6
    = render 'ratings/setrating'
    %div{style: 'display:none;', id: 'rating_alert'}
      = 'u v been voted already'
  .col-6
    #takebook-section
      - if @book.taken_by?(current_user.id) == 0
        / book is busy
        .book-n-aval
          Book is being read
        %small
          = link_to "by #{@book.taken_by.nickname}", user_path(@book.taken_by.id)
      - else
        / book's free
        = link_to "#{@book.taken_by?(current_user.id) == -1 ? 'Return' : 'Take' }", toggle_enable_status_book_path(@book),  id: 'bookid', method: :put, remote: true, class: "btn btn-xs btn-#{@book.taken_by?(current_user.id) == -1 ? 'warning' : 'success'}"

.row
  .col-5
    #book-img-section
      = image_tag @book.image_url(:small), class: 'book-img-section'
  .col-7
    .special-text
      = @book.description
    .btn.expand-description
      read more

.row
  .col
    - if current_user.admin?
      = link_to 'Edit', edit_book_path(@book)
      = link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }
    = link_to 'Back', books_path

    #comments-count
      = "#{@book.comments.all.size} comments"

    #comments-section
      = render @book.comments
    - if @book.comments.all.size > 2
      .btn.expand-comments
        read more

    = form_for [ @book, @book.comments.build ], remote: true  do |form|
      = form.text_area :content, class: 'form-control'
      = form.submit class: 'btn btn-light'

    #history-section
      - if @book.histories.all.size > 0
        #book-author-section
          This book was taken by
        = render @book.histories
    - if @book.histories.all.size > 4
      .btn.expand-history 
        read more

